body{
  font-family: 'Outfit', sans-serif;
}

.card{
  width: 300px;
}

.card-body{
  height: 150px !important;
}

.imagen-card{
  width: 100%;
  margin: 0 auto;

} 

.contenedor{
  height: 100vh;
  background-color: hsl(217, 44%, 86%);
}

.card p{
  color: hsl(0, 0%, 49%);
  font-size: 14px;
}

@media (max-width: 480px){
  .card{
    width: 90%;
  }

  .card-body{
    height: 140px !important;
  }
}